# Mkdocs
mkdocs-git-revision-date-localized-plugin==1.4.7
mkdocs-glightbox==0.4.0
mkdocs-material==9.6.14
mkdocs-material-extensions==1.3.1
mkdocs-material[imaging]
mkdocs-open-in-new-tab==1.0.8

# Markdown
mdx_truly_sane_lists==1.3
